:root {
    /**
     * Colors
     */
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);

    /**
     * Fonts
     */
    /* font-size */
    --fs-1: 15px;
    --fs-2: 14px;
    --font-space: 0, 2px;

    /* font-weight */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
body, html {
    align-items: center;
    background-color: var(--color-grey-900);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    color: var(--color-white);
    font-family: Inter, sans-serif;
    font-size: var(--fs-2);
    font-weight: var(--fw-regular);
    line-height: 1.5;
}

.container {
    position: relative;
    width: 100%;
    max-width: 119rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.7em;
    padding: 0;
}

/*-----------------------------------*\
  #CARD
\*-----------------------------------*/
.card {
    background-color: var(--color-grey-800);
    border-radius: 0.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.card-profile-pic {
    max-width: 9rem;
    border-radius: 100%;
    padding: 2rem;
}

h1.card-header-title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-1);
}

span.card-header-title-localisation {
    color: var(--color-green);
    font-weight: var(--fw-semi-bold);
    font-size: .9rem;
    padding-top: .8rem;
}

span.card-header-title-job {
    padding-top: 2rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.7em;
    padding-bottom: 2rem;
    padding-inline: 2rem;
}

button.btn {
    background-color: var(--color-grey-700);
    color: var(--color-white);
    border: none;
    border-radius: .5em;
    padding: .8rem;
    font-weight: var(--fw-semi-bold);
    font-size: .8rem;
    cursor: pointer;
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--color-white);
}
